$background__color_light: #ffffff;
$background__color_dark: #f6f6f6;

$background__image_header: url("../assets/images/start-screen-gradient-background.png");
$background__image_footer: url("../assets/images/footer-gradient-background.png");

$font__family_serif: "Georgia";
$font__family_sans: "Arial";